<!DOCTYPE html>
<html lang="en" ng-app="app13">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>exam13</title>
		<meta name="description" content="" />
		<meta name="author" content="janish" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="js/exam13.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular-sanitize.js"></script>
		<style>
		.thick{
			font-weight:bold;
		}
		</style>
	</head>

	<body>
	<div ng-controller="mainCtrl">
		<input type="text" ng-model="userName">
		<button ng-click="greetUser(userName)">Hello</button>
		<br><br>
		URL: {{currURL}}<br><br>
		Protocol: {{theProtocol}}<br><br>
		Host: {{currHost}}<br><br>
		Port: {{currPort}}<br><br>
		Path: {{currPath}}<br><br>
		Search: {{currSearch}}<br><br>
		
		Current Time: {{time}}<br><br>
		
		<label>Message:
			<input type="text" ng-model="message" />
		</label>
		<button ng-click="$log.log(message)">log</button>
		<button ng-click="$log.warn(message)">warn</button>
		<button ng-click="$log.info(message)">info</button>
		<button ng-click="$log.error(message)">error</button>
		<button ng-click="$log.debug(message)">debug</button>
		
		<button ng-click="throwException()">Throw Exception</button>
		
		<input type="text" ng-model="badStuff">
		<br><br>
		<span>{{badStuff}}</span>
		<span ng-bind-html="badStuff"></span>
		<span ng-bind="badStuff"></span>
		
		<p get-player-info></p>
    </div>
		
		
	</body>
</html>

