<!DOCTYPE html>
<html lang="en" ng-app="app5">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>exam5</title>
		<meta name="description" content="" />
		<meta name="author" content="janish" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
		<script src="js/exam5.js"></script>
		
		<style>
			table{
				width:400px;
				text-align:left;
				border:2px solid black;
				padding:10px;
			}
			input.ng-dirty.ng-invalid{
				border.color:red;
			}
		</style>
	</head>

	<body>
		<div ng-controller="gListCtrl">
			<h3>Grocery List</h3>
			
			<table>
				<thead>
					<tr>
						<th>Item</th>
						<th>Purchased</th>
					</tr>
				</thead>
				<tr ng-repeat="grocery in groceries">
					<td>{{grocery.item}}</td>
					<td>
						<input type="checkbox" ng-model="grocery.purchased">
					</td>
				</tr>
			</table>
			
			<label>New Item:
				<input type="text" ng-model="newItem">
			</label>
			<button ng-click="addItem(newItem)">Add Item</button>
			
			<h4>{{missingNewItemError}}</h4>
		</div><!--/grocerylist-->
		
		<div ng-controller="userCtrl">
			<form name="userForm" ng-submit="saveUser(userInfo)">
				<label>First Name:</label>
				<input type="text" name="fName" ng-model="userInfo.fName"
				ng-required="true" ng-minlength="2">
				
				<span class="error-message"
				ng-show="userForm.fName.$dirty &&
				userForm.fName.$error.required">Must Enter a first name</span>
				
				<span class="error-message"
				ng-show="userForm.fName.$dirty &&
				userForm.fName.$error.minlength">Must be a minimum of 2 characters</span>
				
				<label>Last Name:</label>
				<input type="text" name="lName" ng-model="userInfo.lName"
				ng-required="true" ng-minlength="2">
				
				<span class="error-message"
				ng-show="userForm.lName.$dirty &&
				userForm.lName.$error.required">Must Enter a last name</span>
				
				<span class="error-message"
				ng-show="userForm.lName.$dirty &&
				userForm.lName.$error.minlength">Must be a minimum of 2 characters</span>
				
				<br><br>
				
				<label>Street:</label>
				<input type="text" name="street"
				ng-model="userInfo.street"
				ng-required="true" ng-minlength="6">
				
				<span class="error-message"
				ng-show="userform.street.$dirty &&
				userForm.street.$invalid">Must Enter a Number, Street, and Street Type
				(ex: 123 main st.)</span>
				
				<label>Subscribe:</label>
				<input type="checkbox" name="subscribe"
				ng-model="userInfo.subscribe"
				ng-true-value="'Subscribe'"
				ng-false-value="'Don\'t Subscribe'">
				
				<br><br>
				
				<label>Delivery Method:</label>
				<select name="delivery" ng-model="userInfo.delivery"
				ng-required="true">
				<option value="Email">Email</option>
				<option value="Mail">Mail</option>
				</select>
				
				<br><br>
				
				<input type="submit" value="Save"
				ng-disabled="userForm.$invalid">
				
				<ul>
					<li ng-repeat="item in user">
						User: {{item.fName + " " + item.lName + " " + item.street + " " + 
						item.subscribe + " " + item.delivery}}
					</li>
				</ul>
			</form>
		</div><!--/userCtrl-->
	</body>
</html>

